.a-i {
   border-top-left-radius: 100%;
}

.a-d {
   border-top-right-radius: 100%;
}

.b-i {
   border-bottom-left-radius: 100%;
}

.b-d {
   border-bottom-right-radius: 100%;
}
.push{
  position: relative;
  width: 200px;
  height: 200px;
  background-color : darkgray;
  border: 12px solid saddlebrown;
}
.base {
   background-color: saddlebrown;
   width: 472px;
   height: 472px;
   border-radius: 100%;
   position: relative;
   text-align: center;
   margin: auto;
   top: 10vh;
   box-shadow: 0px 0px 10px grey;
}
.interior {
   position: relative;
   top: 25px;
}

/*fila {
   border-bottom: -4px;
}*/

.rojo {
   background-color: darkred;
}
.rojo:active {
   background-color: red;
}
.amarillo {
   background-color: darkgoldenrod;
}
.amarillo:active {
   background-color: yellow;
}
.verde {
   background-color: darkgreen;
}
.verde:active {
   background-color: limegreen;
}
.azul {
   background-color: darkblue;
}
.azul:active {
   background-color: blue;
}

.enlinea {
   display: inline-block;
}

.noclick {
   pointer-events: none;
}
.siclick {
   pointer-events: auto;
}
.boton:disabled {color: darkgray; cursor: not-allowed;}
/*.central {
   width: 220px;
   height: 220px;
   position: absolute;
    border-radius:100%;
   top:50%;
   left:50%;
   margin: -122px 0 0  -122px;
   background-color:white;
  border: 12px solid saddlebrown;
}*/